@import "tailwindcss";

@font-face {

  font-family: "HeyComic";

  src: url("/fonts/HeyComic.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;

}
:root {

  --monti-background: #ebdec8;
  --monti-card: #F0D5B3;

  --monti-primary: #1F2041;
  --monti-secondary: #3D3E62;

  --monti-accent: #6C9A8B;

  --monti-danger: #A63A50;

  --monti-logo: #FFF4DD;


  --background: var(--monti-background);
  --foreground: var(--monti-primary);

}



body {

  background: var(--background);

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

}